#pai{
    background-color: rgb(219, 155, 73);
    height: 300px;
    width: 300px;
    position: relative;
}
.filha-01{
    background-color: rgb(73, 219, 100);
    height: 200px;
    width: 200px;
    position: absolute;
  
}
.filha-02{
    
}
#exemplo01{
    background-color: rgb(73, 219, 100);
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -100px;
}
#exemplo02{
    background-color: aquamarine;
}
.rick{
    text-align: center;
}