#exemplo01{
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
}
.rick{
    text-align: center;
}
body{background-color: white;}
#texto{
    height: auto;
    position: absolute;
    top: 70%;
    left: 20%;
    right: 20%;
    margin-bottom:10% ;
}
#foto01{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
}
#foto02{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 115px;
    margin-top: -100px;
}
#foto03{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -310px;
    margin-top: -100px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body{
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.pai{
    width: 600px;
    height: 500px;
    background-color: brown;
    position: relative;
}
.filho-1{
    width: 150px;
    height: 150px;
    background-color: rgb(129, 53, 53);
    position: absolute;
    left: 
    bottom: 
    right: 
    top: 
}
.filho-2{
    width: 150px;
    height: 150px;
    background-color: rgb(63, 42, 42);
    position: absolute;
    left: 150px;
    bottom: 
    right
    top: 
}
#rick{
    text-align: center;
}